@import '~bootstrap/scss/bootstrap';
// ---------------------------------------------------------------------------------------------------------------------
// --------------------------------- FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:wght@900&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}
// ---------------------------------------------------------------------------------------------------------------------
// --------------------------------- VARIABLES

// ---------------------------------------------------------------------------------------------------------------------
// --------------------------------- COMPONENTS
.app_login_left_side {
  background: rgb(25,93,126);
  background: linear-gradient(180deg, rgba(25,93,126,1) 68%, rgba(247,180,167,0.7) 99%);
  color: white;
  max-width: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .app_typing_text{
    font-size: 30px;
    margin-bottom: map-get($spacers, 4);
    span{
      font-family: 'Roboto', sans-serif;
      font-size: inherit;
      font-weight: bolder;
    }
  }
}

.app_login_right_side {
  padding: 0 map-get($spacers, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login_heading{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: map-get($spacers, 4);
  }

  .app_login_form{
    .form-label{
      p{
        font-size: 14px;
        margin-bottom: map-get($spacers, 3);
      }
      .form-control{
        font-size: 14px;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// --------------------------------- PAGES
.app_login_page {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  > div {
    flex-grow: 1;
  }
}
